extends layout

block content
  .container
    .jumbotron
      h1= title
      h2 Share the music you love

    form.form-group.search-group
      input.form-input(type='text', placeholder='Enter a Spotify or Rdio URL')
      button.btn.btn-submit Go

    .result
      a.result-link
